{% extends 'base.html' %}
{% block title %}
    About
{% endblock title %}
{% block content %}
    <div class="text-center">
        <br>
        <h1>About</h1>
        <br>
<br>
        <h1>Hi!</h1>
<br>
        <img src="/static/hello.gif" alt="hello">
        <br>
        <br>
<br>
<br>
        <h1>Hi, I'm <strong>NAVEENKUMAR G</strong> </h1>
        <br>
<br>
<br>
<br>
<h1>Welcome to our Flask Web-Frame Work</h1>
    </div>
    <div class="form">
        <br>
        <hr>
        <br>
<br>
<br>
<br>
<br>
        <h3>Education</h3>
        <br>
        <h5>I'm pursuing my B.E in Final Year on AAA  College of Engineering and Technology <strong>Computer Science</strong>.</h5>
        <br>
        <h3>Languages</h3>
        <br>
        <h5>I can speak and write <strong>Tamil</strong> & <strong>English</strong> fluently.</h5>
<br>
<br>
        <h5>As for programming languages,please take a look at the below information.</h5>

<br>
       
        <h5>C</h5>
        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h5>Java</h5>
        <div class="progress">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h5>Python</h5>
        <div class="progress">
            <div class="progress-bar bg-progress" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h5>HTML</h5>
        <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <br>
<br>
        <h3>Projects</h3>
        <br>
        <ul>
            <li><strong>College Mini Projects</strong> Mobile Computing based Smart Attendance with Fingerprint & GPS Location Tracking</li>
        </ul>
    </div>
    <br>
    <div class="text-center">
       
        <p>Contact me on <a href="t.me/navis smith">Telegram</a> & through <a href="navissmith0107@gmail.com">E-mail</a></p>

    </div>
    <br>
{% endblock content %}
