{% extends 'base.html' %}

{% block head %}
<title> Database Page </title>
{% endblock %}

{% block body %}

<div class="table" style="margin-top: 180px;">
    <div class="card-body">
        <h5 class="card-title" style=" margin-bottom: -50px; text-align: center;">Registered Users</h5>
<table class="table table-borderless table-hover" style="margin-top: 25px; margin-bottom: -50px;">
   <thead style="font-weight: 500;">
      <td>Name</td>
      <td>User Name</td>
      <td>Email</td>
      <td>Password</td>
   </thead>
   
   {% for row in users %}
      <tr>
         <td>{{row["name"]}}</td>
         <td>{{row["username"]}}</td>
         <td> {{ row["email"]}}</td>
         <td>{{row['password']}}</td>	
      </tr>
   {% endfor %}
</table>
</div>
</div>
{% endblock %}